@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1d26;
}

body {
  background: var(--background);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.transition-header {
  transition: padding 0.3s, background-color 0.3s, box-shadow 0.3s,
    transform 0.3s;
}
html.scroll-fixed body {
  overflow: hidden;
}
